/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------reset css end-------*/

:root,
body {
  margin: 0;
  height: 100%;
}

:root  {
    box-sizing: border-box;
}

body  {
    display: flex;
}

/*------root and body end-------*/

.left-side-area { /*-----left-side container properties-----*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  overflow: hidden;
}

.left-side-area > img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover; /*attaching it as a background image*/
}

.left-side-logo {    
  position: absolute; /*behaving as a free div inside the page*/
  top: 35%; /*what the exact place is*/
  width: 100%; /*cover whole left-side container's width*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.4); /*add opacity*/
  color: white;
}

.left-side-logo .logo {
  height: 5rem;
  margin-left: 45px;
  min-width: auto;
  object-fit: contain; /*sizing it to the defined measures*/
  border-radius: 50%; /*making it a complete circle in shape*/
}

h1 {
  font-family: 'Sansation Light'; /*the font is derived from a source with <link> element in HTML code*/
  font-weight: 800;
  font-size: 50px;
  margin: 0;
}

.img-ownership {
  position: absolute; /*behaving as a free div inside the page*/
  width: 50%; /*cover half of the left-side container's width*/
  height: 25px; /*sizing it to a defined height in shape*/
  bottom: 0%; /*what the exact place is-1*/
  right: 0px; /*what the exact place is-2*/
  color: black;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  background-color:aliceblue;
}

.img-ownership > p {
  margin-top: 5px; /*what the exact place is*/
}

/*------left-side container end-------*/

.main { /*-----main container properties-----*/
  overflow: scroll;
  flex: 6; /*flex-growth  value*/
}

.welcome-message {
  padding: 64px 36px 18px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: hsla(217, 81%, 71%, 0.1);
  line-height: 30px; /*resizing the height of the lines inside the paragraph for a better user experience*/
}

.welcome-message >p + p {
  padding-top: 10px; /*making it apart from other lines inside the paragraph*/
}

em {
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column; /*flex-direction is changed to place inputs in column format*/
  justify-content: center;
  padding: 12px 36px;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.form > p {
  font-weight: 600;
  font-size: 1.4rem;
}

#signup-form {
  display: flex;
  flex-wrap: wrap; /*wrapping the divs inside the form*/
  justify-content: space-between;
  width: 70%; /*cover 70% of the form container's width*/
  margin-top: 30px;
}

#signup-form > div {
  width: 40%; /*cover 40% of the sign-up form's width*/
  min-width: 150px; /*resizing the input places for a better user experience*/
  margin-bottom: 20px;
  margin-right: 20px;
}

#signup-form > label {
  margin: 0;
}

input {
  width : 100%;
  padding: 3px 5px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 2px;
}

input:focus { /*when mouse clicked*/
  background-color:aliceblue;
}

input:focus:invalid { /*when mouse clicked for "required" input types*/
  background-color: blanchedalmond;
}

input:focus + span { /*a place for informing the user for the condition of input*/
  position: relative;
  display: flex;
}
  
input:focus + span::after { /*after pseudo element is used to allow conditional span section*/
  position: absolute;
  right: -30px; /*what the exact place is-1*/
  top: -20px; /*what the exact place is-2*/
}
  
input:focus:invalid + span::after { /*when the user enters unknown characters or does not enter anything at all*/
  content: '✖';
  color: red;
}
  
input:focus:valid + span::after { /*when the user enters "exact" characters required for the input type*/
    content: '✓';
    color: green;
}

 /*password inputs are highlighted with special properties for error class declared in HTML*/
.error:invalid {
  border: 1px solid red;
}

.error:invalid + span::after {
  content: '*Passwords do not match';
  color: red;
}

/*------welcome message and form section inside the main division end-------*/

.submit {
  height: 250px;
  padding: 24px 36px;
  background-color: hsla(217, 81%, 71%, 0.1);
}

.submit a[href="#"] { /*a element with an attribute of href="#" is used as an advanced selector*/
  color: #0889ebcf;
  font-weight: bold;
}

.submit a[href="#"]:hover { /*when mouse points the "a" element with an attribute of href="#"*/
  color:orangered;
  font-weight: bold;
}

button[type='submit'] {
  border: none;
  color: white;
  background-color: #0889ebcf;
  padding: 12px 36px;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 3.5%;
}

button:hover { /*when mouse points the "button" element*/
  background: #000;
  color: #FFF;
  cursor: pointer;
}

button:focus { /*when mouse clicked the "button" element*/
  background: whitesmoke;
  color: black;
  cursor: pointer;
}

/*------submit section inside the main division end-------*/





